<ul>
    {% for room in rooms %}
        {% with room.0 as room_number %}
        {% with room.1 as player_count %}
        {% with room.2 as blinds %}
        {% with room.3 as mode %}
        {% with room.4 as creator %}
            <li>
                <strong>Комната {{ room_number }}</strong> - {{ player_count }} игроков, Блайнды: {{ blinds }}, Режим: {{ mode }}, Создатель: {{ creator }}
            </li>
        {% endwith %}
        {% endwith %}
        {% endwith %}
        {% endwith %}
        {% endwith %}
    {% endfor %}
</ul>
