{% extends 'rooms/room_details.html' %}
{% load static %}

{% block content %}
<div class="game-info">
    <div class="pot-info">
        <span>Текущий банк: <span id="pot-value">{{ room.pot }}</span></span>
    </div>
    <div id="current-player-info">
        Текущий игрок: <span id="current-player">Ожидание...</span>
    </div>
    <div class="action-buttons">
        <button id="fold-btn" disabled>Fold</button>
        <button id="call-btn" disabled>Call</button>
        <button id="check-btn" disabled>Check</button>
        <button id="raise-btn" disabled>Raise/Bet</button>
    </div>
</div>
{% for seat_number in seats %}
<div class="player-seat" id="seat-{{ seat_number }}"
     style="
     {% if seat_number == 1 %} left: 5%; top: 50%; transform: translateY(-50%);
     {% elif seat_number == 2 %} left: 80%; top: 50%; transform: translateY(-50%);
     {% elif seat_number == 3 %} bottom: 10%; left: 50%; transform: translateX(-50%);
     {% endif %}
     ">
    {% with players|dictsort:"seat_number" as sorted_players %}
        {% with sorted_players|first as player %}
            {% if player and player.seat_number == seat_number %}
                <div class="player-info">
                    <span class="username">{{ player.user.username }}</span>
                    <span class="stack">Stack: {{ player.stack }}</span>
                    {% if player.role %}
                        <img src="{% static 'rooms/jpg/'|add:player.role|add:'.jpg' %}" alt="{{ player.role }}">
                    {% endif %}
                </div>
            {% else %}
                <button class="sit-btn" data-seat="{{ seat_number }}">SIT</button>
            {% endif %}
        {% endwith %}
    {% endwith %}
</div>
{% endfor %}


<!-- Модальное окно -->
<div id="modal-overlay"></div>
<div id="buy-in-modal">
    <form id="buy-in-form">
        <h2>BUY IN</h2>
        <label for="stack">Enter stack amount:</label>
        <input type="number" id="stack" required>
        <button type="submit">Take the seat</button>
    </form>
</div>



{% endblock %}
