{% extends 'rooms/room_details.html' %}

{% block content %}
<div class="table-container">
    <div class="player-seat left-seat">
        <div class="player-avatar">P1</div>
        <div class="player-cards">🂡 🂢</div>
        <div class="player-stack">$1000</div>
    </div>
    <div class="player-seat top-seat">
        <div class="player-avatar">P2</div>
        <div class="player-cards">🂡 🂢</div>
        <div class="player-stack">$1200</div>
    </div>
    <div class="player-seat bottom-seat">
        <div class="player-avatar">You</div>
        <div class="player-cards">🂡 🂢</div>
        <div class="player-stack">$1500</div>
    </div>
</div>
{% endblock %}
