
{% extends 'rooms/room_details.html' %}
{% load static %}

{% block content %}

    <!-- Места игроков -->
     {% for seat in seats %}
        <div class="player-seat" id="seat-{{ seat }}">
            {% with players|dictsort:"seat_number" as sorted_players %}
                {% with sorted_players|first as player %}
                    {% if player and player.seat_number == seat %}
                        <div class="player-info">
                            <span>{{ player.user.username }}</span>
                            <span>Stack: {{ player.stack }}</span>
                            {% if player.role %}
                                 <img src="{% static 'rooms/jpg/'|add:player.role|add:'.jpg' %}" alt="{{ player.role }}">
                            {% endif %}
                        </div>
                    {% else %}
                        <button class="sit-btn" data-seat="{{ seat }}">SIT</button>
                    {% endif %}
                {% endwith %}
            {% endwith %}
        </div>
    {% endfor %}

    <!-- Модальное окно -->
    <div id="buy-in-modal" style="display: none;">
        <form id="buy-in-form">
            <h2>BUY IN</h2>
            <label for="stack">Enter stack amount:</label>
            <input type="number" id="stack" required>
            <button type="submit">Take the seat</button>
        </form>
    </div>


{% endblock %}
